@media screen and (max-width: 400px) {

    .nav-container,
    .menu-items-container,
    .play-container,
    .play-instantly-download,
    .footer-category ul {
        flex-direction: column;
    }


    .game-items {
        display: flex;
        /* margin: -100px; */
        position: relative;
        top: 10px;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        margin: 10px;
        align-items: center;
    }

    .play-container-text {
        flex-direction: column;
    }

    .menu-items-container a {
        margin-top: 20px;
    }

    /* nav section ended here! */

    /* banner section start here */

    .play-container-text {
        margin-left: 5px;
        /* padding: 5px; */
        width: 350px;
        text-align: center;
    }

    .play-container-text h3 {
        font-size: 20px;
        text-align: center;
    }

    .play-container-text h2 {
        font-size: 35px;
        text-align: center;
    }

    .online-text {
        margin-top: 50px;
    }

    .banner-img-container img {
        width: 129%;
        padding-top: 30px;
        margin-left: 67px;
    }

    .btn-one {
        margin-bottom: 20px;
    }

    .play-instantly-download {
        /* border: 1px solid indigo; */
        display: flex;
        padding: 10px;
        /* max-width: 1400px; */
        /* text-align: center; */
        align-items: center;
    }

    .button img {
        width: 50px;
        height: 50px;

    }

    .footer-category ul li {
        margin-bottom: 10px;
    }

    .footer-second-category ul {
        flex-direction: column;
        margin: 20px;
    }
}